* {
    margin: 0;
    padding: 0;
}
#game {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
progress {
    display: block;
    /* Important Thing */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 50px;
    background: black;
    padding: 2px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2);
    color: #4e25d2; /*IE*/
}
progress::-webkit-progress-bar {
    background: black;
}
progress::-moz-progress-bar { /* value of bar in FF */
    //background: #4e25d2;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);

    /*background:
            -moz-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
            -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
            -moz-linear-gradient(left, #ba7448, #c4672d);*/
    background-size: 25px 16px, 100% 100%, 100% 100%;
}
progress::-webkit-progress-value {
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    //background: #4e25d2;
    /*background:
            -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
            -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
            -webkit-linear-gradient(left, #ba7448, #c4672d);*/
    background-size: 25px 14px, 100% 100%, 100% 100%;
}

.bonus::-moz-progress-bar {
    background: #4e25d2;
}
.bonus::-webkit-progress-value {
    background: #4e25d2;
}

.malus::-moz-progress-bar {
    background: #bd1521;
}
.malus::-webkit-progress-value {
    background: #bd1521;
}